# Tool requirements.
crcmod
matplotlib
numpy
scipy
pyserial

# Testing requirements.
pytest
pytest-mock

# Linting and formatting requirements.
click == 7.1.2
black == 24.3.0
isort == 5.8.0
flake8 == 3.9.2
flake8-black == 0.2.1
pyproject-flake8 == 0.0.1a2
cpplint <= 1.5.4
