source [find interface/stlink-v2.cfg]
source [find target/stm32f4x.cfg]
adapter_khz 1000

init
reset halt
flash probe 0
flash write_image erase build/mc_bootloader.bin 0x08000000
verify_image build/mc_bootloader.bin
#symbol-file build/mc_bootloader.elf
reset run
shutdown
