name: arm-none-eabi-gcc
on: [pull_request]
jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      with:
        submodules: true
    - uses: fiam/arm-none-eabi-gcc@v1
      with:
        release: '9-2019-q4' # The arm-none-eabi-gcc release to use.
    - run: pwd; ls
    - run: make -C bootloader/
    - run: make -C firmware/
