name: compile
on: [pull_request]
jobs:
  makefile:
    runs-on: ubuntu-latest
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Install Arm GCC
      uses: fiam/arm-none-eabi-gcc@v1
      with:
        release: '9-2019-q4' # The arm-none-eabi-gcc release to use.
    - name: Install Protoc
      run: sudo apt-get install protobuf-compiler
    - name: Install Protoc Tools
      run: python3 -m pip install protobuf grpcio-tools
    - run: make -C bootloader/
    - run: make -C firmware/
  bazel-bootloader:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Install Bazelisk
      uses: bazelbuild/setup-bazelisk@v2
    - run: bazelisk build //bootloader
  bazel-firmware:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Install Bazelisk
      uses: bazelbuild/setup-bazelisk@v2
    - run: bazelisk build //firmware
